body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto Slab";
    font-size: 17px;
    background: linear-gradient(0.25turn, #6282d226, #ebf8e1, #f9467b24);
}

.main {
    background-color: white;
    display: grid;
    margin: auto;
    grid-template-rows: 120px 1fr 70px;
    grid-template-columns: 350px 1fr;
    grid-row-gap: 20px;
    max-width: 1280px;
    justify-content: space-between;
    grid-template-areas:
      "left header"
      "left right"
      "footer footer";
    padding: 20px;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
    transition: color 1s;
}

a:hover {
    color: #6282d2a8;
}

.nav {
    max-width: 1280px;
    margin: auto;
    grid-area: header;
    width: 100%;
    text-align: right;
    border: 2px dotted #f9467b69;
    background: #ececec;
}

.nav__list {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.nav__list li {
    list-style: none;
}

.header__nav-link:hover {
    transition: color 1s;
}

.header__nav-link:hover {
    color: #6282d2a8;
}

.header h1,
.header h3 {
    text-align-last: end;
}

.right {
    grid-area: right;
    background-color: #ececec;
    width: 100%;
    margin-top: 50px;
}

.right-h3 {
    text-align: start;
    margin-left: 50px;
}

.right-p, h4 {
    text-align: justify;
    text-indent: 30px;
    padding: 0 20px;
}

.right-p__one::before {
    position: absolute;
    width: 200px;
    height: 2px;
    content: "";
    background-color: #f9467b69;
    margin: -10px 0 0 -10px;
}

.right-project {
    margin: 15px 15px 0 0;
    border: 2px dotted #6282d23b;
    list-style: none;
    padding: 15px;
    transition: background-color 1s;
}

.right-project:hover {
    border: 2px solid #3631a2a8;
}

.right-project a {
    display: flex;
    justify-content: space-between;
    transition: color 1s;
}

.right-project a:hover {
    color: #3631a2a8;
}

.right-project__img {
    width: 500px;
}

.right__slider {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    transition: color 1s;
}

.right__slider-title:hover {
    color: #6282d2a8;
}

.right__slider-pictures {
    position: relative;
    width: 80%;
    margin: auto;
}

.right__slider-img {
    display: none;
    border: 2px dotted #f9467b69;
    padding: 5px;
}

.slider-img {
    width: 100%;
}

.right__slider-img:target {
    display: block;
}

.solution {
    padding-bottom: 20px;
}

.certificate {
    width: 100%;
    display: flex;
    justify-content: center;
}

.certificate img {
    width: 700px;
}

.left {
    grid-area: left;
    background-color: #ececec;
    width: 90%;
}

.left__avatar {
    width: 100%;
    grid-area: avatar;
}

.left__avatar img {
    width: 250px;
    height: 500px;
    border-radius: 100px;
    display: block;
    margin: 30px auto 0 auto;
}

.left__contacts {
    grid-area: contacts;
}

.left__skills {
    grid-area: skills;
}

.left__contacts-ul,
.left__skills-ul {
    list-style-type: none;
    padding-left: 20px;
    justify-content: center;
}

.left__skills-ul li {
    margin-bottom: 5px;
}

.left__contacts-ul li {
    display: flex;
    align-items: center;
}

.left__skills-container {
    margin: 0;
    width: 270px;
    background-color: #ddd;
}

.skills {
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    color: white;
}

.html,
.css,
.scss,
.bootstrap,
.gulp {
    width: 92%;
    background-color: #4CAF50;
}

.js,
.oop {
    width: 80%;
    background-color: #2196F3;
}

.react {
    width: 40%;
    background-color: #f44336;
}

.git {
    width: 60%;
    background-color: #808080;
}

.left__contacts h3,
.left__skills h3,
.left__english h3 {
    height: 50px;
    display: flex;
    align-items: flex-end;
}

.left__contacts h3 {
    background-color: #6282d23b;
    padding-left: 20px;
}

.left__contacts-img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 15px;
}

.left__skills h3 {
    background-color: #6282d23b;
    padding-left: 20px;
}

.left__english {
    grid-area: english;
}

.left__english h3 {
    background-color: #6282d23b;
    padding-left: 20px;
}

.left__english p {
    text-align: justify;
    text-indent: 10px;
    padding: 0 10px;
}

.footer {
    grid-area: footer;
    width: 100%;
    background-color: #ececec;
    border: 2px dotted #f9467b69;
}


.footer__copyright {
    display: grid;
    grid-template-areas:
        "logo"
        "name";
    text-align: center;
}

.footer__logo {
    width: 100%;
    grid-area: logo;
}

.footer__logo img {
    width: 100px;
}

.footer__name {
    grid-area: name;
}

.footer__name a:hover {
    color: #6282d23b;
}


@media (max-width: 1120px) {
    .main {
        background: linear-gradient(0.25turn, #6282d226, #ebf8e1, #f9467b24);
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "right"
            "footer";
    }

    .left {
        width: 100%;
        display: grid;
        column-gap: 10px;
        grid-template-areas:
            "avatar contacts skills"
            "avatar english skills";
    }

    .left__contacts-ul, .left__skills-ul {
        padding-right: 20px;
    }

    .left__avatar img {
        width: 250px;
        height: 500px;
        margin: 30px auto 30px auto;
    }

    .right {
        margin: 0;
    }

    .right-project__img {
        width: 650px;
    }
}


@media (max-width: 991px) {
    .main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "right"
            "footer";
    }

    .right-project__img {
        width: 500px;
    }

    .left {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "avatar contacts skills"
            "avatar english skills";
    }

    .left__avatar {
        width: 100%;
        grid-area: avatar;
        display: flex;
    }

    .left__avatar img {
        border-radius: 100px;
        display: inline;
        justify-content: center;
    }

    .left__contacts {
        grid-area: contacts;
    }

    .left__skills {
        grid-area: skills;
    }

    .left__english {
        grid-area: english;
    }
}

@media (max-width: 991px) {
    .main {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "right"
            "footer";
    }

    .left {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "avatar skills"
            "english contacts";
    }
}

@media (max-width: 750px) {
    .header {
        grid-area: header;
        background-color: #ececec;
        min-width: 275px;
        text-align: center;
        border: 2px solid #f9b646a8;
    }

    .header h1,
    .header h3 {
        margin-right: 0;
        margin-bottom: 0;
    }

    .main {
        grid-template-rows: 230px 1fr 0.5fr 70px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "right"
            "footer";
    }

    .right {
        min-width: 275px;
    }

    .left {
        max-width: 100%;
        grid-template-rows: 540px 230px 490px 200px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "avatar "
            "contacts "
            "skills"
            "english";
    }
    .left__avatar img {
        margin: 30px auto;
    }
    .certificate img {
        width: 480px;
    }
}


@media (width: 320px) {

    .right {
        width: 280px;
    }

    .right__slider-title {
        margin: 0 10px;
    }
    .certificate img {
        width: 250px;
    }
    .right-project a{
        flex-direction: column;
    }
    .right-project__img {
        width: 200px;
    }
}
